{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .page-container {
            background-image: url('{{ asset('assets/img/background_panier7.jpg') }}') !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var panier = $('#panier').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="bread-crumb">
        <img src="{{ asset('images/banner-top.jpg')}}" class="img-responsive" alt="banner-top" title="banner-top">
        <div class="container">
            <div class="matter">
                <h2>shop</h2>
                <h2>shopping cart</h2>
                <ul class="list-inline">
                    <li><a href="{{path ('homepage')}}">HOME</a></li>
                    <li><a href="{{ path('panier_show') }}">shopping cart</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="mycart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" enctype="multipart/form-data">
                        {% if liste|length >0  %}
                        <div class="table-responsive">
                            <table class="table tabl1 table-bordered">
                                <thead>
                                <tr>
                                    <td class="text-center">Products</td>
                                    <td class="text-center">Price</td>
                                    <td class="text-center">Refugee Name</td>

                                    <td class="text-center">Remove</td>
                                </tr>
                                </thead>
                                <tbody>


                                {% for value in liste %}
                                <tr>
                                    <td class="text-center">
                                        <a href="#">
                                            {% if value.img != '' %}
                                            <img src="{{ asset('uploads/Produit/photo/' ~ value.img) }}" width="85" height="85" class="img-responsive" alt="thumb" title="thumb" />
                                            {% else %}
                                            <img src="{{ asset('assets/img/NA.png') }}"  width="85" height="85" class="img-responsive" alt="thumb" title="thumb" />
                                            {% endif %}

                                            <div class="name">{{ value.nomProd }}
                                                <div class="rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="text-center">{{ value.prix }} DT</td>

                                    <td class="text-center">{{ value.nomRef }}</td>
                                    <td class="text-center">
                                      <a href="{{ path('supprimer_ligne',{ 'id': value.id  }) }}"> <button  type="button"><i class="fa fa-times"></i></button></a>
                                    </td>
                                </tr>
                                {% endfor  %}
                                <tr>

                                    <td colspan="2" class="text-center">
                                        <div class="buttons">
                                            <a href="{{ path('f_annonce_index') }}" class="btn btn-primary">Update Cart</a>
                                            <a href="{{ path('f_annonce_index') }}" class="btn btn-primary">Continue Shopping</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif  %}
                    </form>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="shipping">
                                <h2>Calculate shipping</h2>
                                <form action="{{ path('ajout_commande',{ 'id_u': app.user.id ,'prix_total' :tab.somme}) }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <select class="selectpicker form-control bs-select-hidden">
                                                <option selected="" value="0">Select Country</option>
                                                <option value="1">India</option>
                                                <option value="2">Pakistan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="state" value="" id="input-state" class="form-control" placeholder="State / City" type="text">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="code" value="" id="input-code" class="form-control" placeholder="Post code" type="text">
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <table class="table cartable table-bordered">
                                <thead>
                                <tr>
                                    <td>Cart Totals</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-left">Cart Sub Total</td>
                                    <td class="text-right">{{ tab.somme }} DT</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Shipping and handling</td>
                                    <td class="text-right">Free shipping</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Order Total</td>
                                    <td class="text-right">{{ tab.somme }} DT</td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="2"><a href="{{ path('ajout_commande',{ 'id_u': app.user.id ,'prix_total' :tab.somme}) }}" class="btn btn-block btn-primary" >Checkout</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}