{% extends 'base.html.twig' %}

{% block title %}
    Our Events
{% endblock %}
{% block body %}
    <!-- bread-crumb start here -->

    <div class="bread-crumb">
        <img src=" {{ asset('images/banner-top.jpg')}}" class="img-responsive" alt="banner-top" title="banner-top">
        <div class="container">
            <div class="matter">
                <h2>events</h2>
                <ul class="list-inline">
                    <li><a href="index-2.html">HOME</a></li>
                    <li><a href="{{ path('event') }}">Events</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- bread-crumb end here -->




    <div class="events">
    <div class="container">
        <div class="row">


            {% for i in events %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="{{ path('details', { 'id': i.id}) }}"><img src={{ asset('uploads/image/'~i.image) }}  class="img-responsive" alt="image" title="image" /></a>
                        <div class="onhover">
                            <p>{{ i.date |date ("d") }}</p><span>{{ i.date |date ("M") }}</span>
                        </div>
                    </div>
                    <div class="caption">
                        <h4><a href="single-event-view.html">{{ i.nomevent }}</a></h4>
                        <ul class="list-inline">
                            <li><i class="icon_clock"></i> 08.00 - 16.00</li>
                            <li>
                                <i class="fa fa-map-marker"></i> {{ i.adresse }}
                            </li>
                        </ul>
                        <p class="des">{{ i.description }}</p>

                        {% if app.user %}


                                {% set f ="" %}
                                {% set c ="" %}
                                         {% for participant in i.volontaires %}
                                             {% set f = participant.mail %}
                                             {% set c = participant.idVol %}
                                         {% endfor %}
                                                 {% if  app.user.email==f %}

                                                       <div class="text-center">
                                                                 <button type="button" class="btn-primary"onclick="location.href='{{ path('cancelVolo', { 'id': i.id, 'id1': c}) }}'" >Cancel</button>
                                                       </div>

                                                    {% else %}
                                                        {% if i.volontaires|length >= i.nbrMax%}

                                                            <div class="text-center">

                                                                <button type="submit" class="btn-primary" value="Create"data-toggle="modal" data-target="#myModall">
                                                                    <i  aria-hidden="true"></i>Participate
                                                                </button>
                                                            </div>
                                                            {% else %}
                                                     <div class="text-center">
                                                         <button type="button" class="btn-primary" onclick="location.href='{{ path('ajoutvolo', { 'id': i.id}) }}'">Participate</button>
                                                     </div>

                                                        {% endif %}

                                <div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa fa-exclamation fa-5x" style="color: red;margin: 0 auto;"></i>
                                                <h5 class="modal-title" id="exampleModalLabel">Full Event</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% else %}
                                <div class="text-center">

                                    <button type="submit" class="btn-primary" value="Create"data-toggle="modal" data-target="#myModal">
                                        <i  aria-hidden="true"></i>Participate
                                    </button>
                                 </div>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labe
                                     lledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa fa-exclamation fa-5x" style="color: red;margin: 0 auto;"></i>
                                                <h5 class="modal-title" id="exampleModalLabel">You must login first</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a href="{{ path('inscription') }}">
                                                    <button class="btn-primary">Sign Up</button>
                                                </a>
                                                <a href="{{ path('fos_user_security_login') }}">
                                                    <button type="button" class="btn btn-primary">Login</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}




        </div>
    </div>
</div>
<!-- events end here -->

    <!--pagination code start here-->
    <center>
        <div class="list-inline pagination">
            {{ knp_pagination_render(events) }}
        </div>
    </center>
    <!--pagination code end here-->

{% endblock %}