{% extends "base.html.twig" %}

{% block body %}
<!-- /.card-header -->
<div class="card-body table-responsive p-0" style="height: 350px;">
    <table class="table table-head-fixed text-nowrap">
        <thead>
        </thead>

        <tr>
            <th>Title</th>
            <th>Photo</th>
            <th>Description</th>
            <th>{{ knp_pagination_sortable(res,'Date','bp.postdate') }}</th>
            <th>Action</th>
        </tr>
        <tr align="right">
            {% for r in res %}
        <tr>



            <td>{{  r.title}} </td>


            <td><figure><img  style="height: 60x" width="60" src="{{ asset('imagesrec/'~(r.photo) ) }}" ></td>
            <td>{{ r.description}}</td>

            <td> {{ r.postdate|date() }} </td>


            <td> <a href="{{ path('updateMessage',{'id':r.id}) }}'" class="btn btn-success"> Edit</a></td>
            <td><a href="{{ path('deleteMessage',{'id':r.id}) }}'"class="btn btn-danger">Delete</a></td>


        </tr>
        </thead>
        {% endfor %}

    </table>





</div>
<!-- /.card-body -->


<!-- /.card -->
<div class="navigation">
    {{ knp_pagination_render(res) }}
</div>





{% endblock %}