{% extends './Default/dashboard.html.twig' %}
{% block title %}
    Liste des Volontaires
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var annonce = $('#evtsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var categorie = $('#categorieTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Liste des Volontaires</b></h1>
                </div>
                <div class="col-md-6 text-right">
                    <br>

                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">

            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#evts" href="#"
                           aria-expanded="true">Volontaires</a>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
                <div class="tab-content" >
                    <div class="tab-pane active" id="evts" aria-expanded="true">

                        <table id="evtsTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <div class="col-sm-6"><div id="evts_filter" class="dataTables_filter">
                                   </div>
                            <thead>
                            <tr>
                                <th>Last name</th>
                                <th>First name</th>
                                <th>Mail</th>
                                <th>Phone</th>
                                <th>Name of the event
                                </th>
                                <th>Presence</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <thead>
                            <tbody>
                            {% for i in volontaires %}
                                <tr class="event">

                                    <td>
                                        {{ i.nom }}
                                    </td>
                                    <td>{{ i.prenom }}</td>
                                    <td>{{ i.mail}}</td>
                                    <td>{{ i.tel }}</td>
                                    <td>{{ i.nomevent }}</td>
                                    <td>{{ i.presence }}</td>

                                    <td>

                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a href="{{ path('deleteVolo', { 'id': i.idVol }) }}" class="btn btn-danger"
                                               data-toggle="tooltip" title="Remove">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>

                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('editVolo', { 'id': i.idVol }) }}"
                                               data-toggle="tooltip" title="Edit  ">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>

                                        </div>

                                    </td>
                                    </a>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}























