{% extends 'base.html.twig' %}

{% block title %}
Produits

{% endblock %}



{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".jaime").click(function () {
                var id = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("f_annonce_jaime") }}",
                    data: {
                        "Id": id
                    },
                    success: function (data) {
                        $(".jaime").hide();
                        $(".dislike").show();

                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".keyWord").keyup(function () {
                var keyWord = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("f_recherche") }}",
                    data: {
                        "keyWord": keyWord
                    },
                    success: function (response) {
                        $("#postContent").html(response);
                    },
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="bread-crumb">
        <img src="{{ asset('images/banner-top.jpg')}}" class="img-responsive" alt="banner-top" title="banner-top">
        <div class="container">
            <div class="matter">
                <h2>shop</h2>
                <ul class="list-inline">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
                    <div class="leftside">
                        <form class="form-horizontal search" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input name="s" value="" class="form-control" type="text" placeholder="Search">
                                </div>
                                <button type="submit" value="submit" class="btn"><i class="icon_search" aria-hidden="true"></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="leftside">
                        <h5>category</h5>
                        <div class="category">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Men's</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse ">
                                        <ul class="list-group list-unstyled">
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default active">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Girl's</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in">
                                        <ul class="list-group list-unstyled">
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Accessories</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <ul class="list-group list-unstyled">
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Others</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <ul class="list-group list-unstyled">
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Title Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leftside">
                        <h5>your cart</h5>
                        <ul class="list-unstyled cart">
                            <li>
                                <a href="#"><img src="images/product/thumb1.jpg" alt="thumb" title="thumb" class="img-responsive"></a>
                                <h4>Title</h4>
                                <p>1 x $ 45.00</p>
                            </li>
                            <li>
                                <a href="#"><img src="images/product/thumb2.jpg" alt="thumb" title="thumb" class="img-responsive"></a>
                                <h4>Title</h4>
                                <p>1 x $ 45.00</p>
                            </li>
                            <li>
                                <h4>Subtotal : <span>$ 135.00</span></h4>
                                <button class="btn-primary" type="button" onclick="location.href='checkout.html'">checkout</button> </li>
                        </ul>
                    </div>
                    <div class="leftside">
                        <h5>Price</h5>
                        <div class="form-group prices">
                            <div class="price-filter">
                                <span class="min">$15</span>
                                <a href="#" class="one slider-handle"></a>
                                <div class="price-range"><div class="bg"></div></div>
                                <span class="max">$1500</span>
                                <a href="#" class="two slider-handle"></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row sort">
                        <div class="col-md-3 col-sm-4 col-xs-12 paddleft">
                            <h2>shop page</h2>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12 text-right">
                            <p>Trier Par :</p>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 paddright">
                            <div class="form-group input-group input-group-sm">
                                <select id="input-limit" class="form-control selectpicker bs-select-hidden" onchange="location = this.value;">
                                    <option value="{{ path('f_annonce_trier', { 'val': 'PE' }) }}" >Prix elever</option>
                                    <option value="{{ path('f_annonce_trier', { 'val': 'PB' }) }}">Prix Bas</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for a in produits %}
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">

                                <div class="product-thumb">
                                    <div class="image">
                                        {% if a.img != '' %}
                                            <a href="{{ path('f_annonce_show', { 'id': a.idprod }) }}"><img src="{{ asset('images/product/' ~ a.img) }}" alt="image" title="image" class="img-responsive" /></a>
                                        {% else %}
                                            <img alt="image"
                                                 src="{{ asset('assets/img/NA.png') }}"
                                                 class="img-responsive">
                                        {% endif %}
                                    </div>
                                    <div class="caption">
                                        <h4> {{ a.nomprod }}</h4>
                                        <p class="price">{{ a.prix }} DT</p>
                                        <div class="rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="buttons">
                                            <button type="submit" value="{{ a.idprod }}" class="btn-danger"><i class="icon_heart"></i></button>
                                            <a href="{{ path('ajout_annonce',{  'id_a' :a.idprod }) }}" > <button type="button" class="btn-primary">add to cart</button></a>
                                            <button type="button" class="btn-default"><i class="icon_piechart"></i></button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        {% endfor %}
                    </div>

                    <!--pagination code start here-->

                    <!--pagination code end here-->

                </div>

            </div>




        </div>
    </div>
{% endblock %}
