{% for a in produits %}
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">

        <div class="product-thumb">
            <div class="image">
                {% if a.img != '' %}
                    <a href="{{ path('f_annonce_show', { 'id': a.idprod }) }}"><img src="{{ asset('uploads/Produit/photo/' ~ a.img) }}" width="270" height="328" alt="image" title="image" class="img-responsive" /></a>
                {% else %}
                    <img alt="image"
                         src="{{ asset('assets/img/NA.png') }}"
                         class="img-responsive">
                {% endif %}
            </div>
            <div class="caption">
                <h4> {{ a.nomprod }}</h4>
                <p class="price">{{ a.prix }} DT</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="buttons">
                    <button type="submit" value="{{ a.idprod }}" class="btn-danger"><i class="icon_heart"></i></button>
                    <a href="{{ path('ajout_annonce',{  'id_a' :a.idprod }) }}" > <button type="button" class="btn-primary">add to cart</button></a>
                    <button type="button" class="btn-default"><i class="icon_piechart"></i></button>
                </div>
            </div>
        </div>


    </div>

{% endfor %}