{% extends 'base.html.twig' %}

{% block title %}
    Affichage Annonce
{% endblock %}
 {% block stylesheets %}
     <style>
         .img-big-wrap img {
             height: 450px;
             width: 450px;
             display: inline-block;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right" style="margin: 20px 0px;padding: 0">
                {% if app.user %}
                <a href="#" class="btn btn-outline-primary text-uppercase">
                    <i class="fas fa-shopping-cart"></i> Add to cart </a>
                <a href="{{ path('pdf',{ 'id': annonce.id }) }}" class="btn btn-outline-primary text-uppercase">
                    <i class="fa fa-file-pdf-o"></i> PDF </a>
                {% endif %}
                <a href="{{ path('f_annonce_index') }}" class="btn btn-success">
                    <i class="fa fa-undo" aria-hidden="true"></i> Retourner à la page d'annonce
                </a>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="row">
                    <aside class="col-sm-5 border-right">
                        <div class="img-big-wrap">
                            <div>
                                {% if annonce.photo != '' %}
                                    <img alt="annonce Pic"
                                         src="{{ asset('uploads/Produit/photo/' ~ annonce.photo) }}"
                                         class="img-circle img-responsive">
                                {% else %}
                                    <img alt="annonce_Pic" src="{{ asset('assets/img/NA.png') }}"
                                         id="profile-image1" class="img-circle img-responsive">
                                {% endif %}
                            </div>
                        </div>
                    </aside>
                    <aside class="col-sm-7">
                        <article class="card-body p-5">
                            <h3 class="title mb-3">{{ annonce.titre |upper }}</h3>

                            <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="currency">DT $</span><span class="num">{{ annonce.prix }}</span>
                            </span>
                            </p> <!-- price-detail-wrap .// -->
                            <dl class="item-property">
                                <dt>Description</dt>
                                <dd><p>{{ annonce.description }} </p></dd>
                            </dl>
                            <dl class="param param-feature">
                                <dt>Region</dt>
                                <dd>{{ annonce.region }}</dd>
                            </dl>  <!-- item-property-hor .// -->
                            <dl class="param param-feature">
                                <dt>Viwes</dt>
                                <dd>{{ annonce.views }}</dd>
                            </dl>  <!-- item-property-hor .// -->
                            <hr>
                            {% if app.user %}
                            {{ socialButtons() }}
                            {% endif %}
                        </article>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
