{% extends 'base.html.twig' %}

{% block title %}
    Affichage Annonce
{% endblock %}
 {% block stylesheets %}
     <style>
         .img-big-wrap img {
             height: 450px;
             width: 450px;
             display: inline-block;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>

{% endblock %}
{% block body %}
    <div class="bread-crumb">
        <img src="{{ asset('images/banner-top.jpg')}}" class="img-responsive" alt="banner-top" title="banner-top">
        <div class="container">
            <div class="matter">
                <h2>shop</h2>
                <ul class="list-inline">
                    <li><a href="{{ path('homepage') }}">HOME</a></li>
                    <li><a href="{{ path('f_annonce_index') }}">shop</a></li>

                </ul>
            </div>
        </div>
    </div>
<div class="shop shopinner">
    <div class="container">
        <div class="row">
<div class="row shopdetail">
    <div class="col-md-9 col-sm-9 col-xs-12">
<div class="col-sm-5 col-xs-12">
        <a href="#"><img src="{{ asset('uploads/Produit/photo/' ~ produit.img) }}" title="thumb image" alt="thumb image" class="img-responsive" /></a>

    </div>
    <!--thumb image code end-->

    <!--Product detail code start-->
    <div class="col-sm-7 col-xs-12">
        <h2>{{ produit.nomprod|upper }}</h2>
        <div class="prorating">
            <div class="price pull-left">
                {{ produit.prix }} DT
            </div>
            <p class="pull-right">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
            </p>

        </div>
        <p class="shortdes">
            {{ produit.description }}
        </p>
        <h6>Ctegory : {{ produit.categorie.libelle }}<span> </span></h6>
        <div class="common">

            <div class="buttons pull-right">
                <a href="{{ path('ajout_annonce',{  'id_a' :produit.idprod }) }}" > <button type="button" class="btn-primary">add to cart</button></a>
            </div>
        </div>

    </div>
    </div>
</div>
        </div>
    </div>
</div>
{% endblock %}
