{% extends './Default/dashboard.html.twig' %}
{% block title %}
    Liste des refugiess et Categories
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var refugies = $('#refugiesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });

        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('da_refugies_stat') }}" class="btn btn-info">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        Statistique sur les refugies
                    </a>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#refugies" href="#"
                           aria-expanded="true">refugies</a>
                    </li>


                </ul>
                <div class="tab-content" >
                    <div class="tab-pane active" id="refugies" aria-expanded="true">
                        <table id="refugiesTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Nom du Produit</th>
                                <th>Description</th>
                                <th>Nom Refugies</th>

                                <th>Prix</th>

                                <th>Etat</th>

                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <thead>
                            <tbody>
                            {% for refugies in refugies %}
                                <tr>
                                    <td>{{ refugies.nomProd|upper }}</td>


                                    <td style="width: 60px; padding:0px; text-align: center">
                                        {% if refugies.img != '' %}
                                            <img alt="User Pic" style="width:150px;"
                                                 src="{{ asset('uploads/refugies/images/' ~ refugies.image) }}"
                                                 class="img-circle img-responsive">
                                        {% else %}
                                            <img alt="refugies_Pic" style="width:50px;" src="{{ asset('assets/img/NA.png') }}"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_ref_edit', { 'idref': refugies.idref }) }}"
                                               data-toggle="tooltip" title="Editer refugies">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">
                                            <a class="btn btn-secondary"
                                               href="{{ path('da_refugies_delete', { 'idref': refugies.idref }) }}"
                                               data-toggle="tooltip" title="Supprimer refugies">
                                                <i class="fa  fa-trash"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group btn-group-sm btn-group-horizontal">

                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
